.main{
    
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
}
.main__h1{
    text-align: center;
}

/* Tabla */

.main__tabla{
    background-color: blanchedalmond;
    border: 1px solid gray;
}

.main__tabla__col{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* Formulario */

.main__form{
    margin-top: 100px;
}
.main__input{
    width: 20%;
}
.main__form__label{
    display: flex;
    justify-content: center;
    align-items: center;
}
.label--flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
}
#cargo{
    width: 60%;
}
.input__h3{
    text-align: center;
}
.container--h3{
    display: block;
}
.label--checkbox{
    display: block;
    text-align: center;
}
.div--baja--visible{
    display: contents;
}
.div--baja{
    display: none;
}
.main__input--button{
    display: block;
    margin: auto;
}
